/* 1. GRID  LAYOUT*/


/* 


.gc3 {
    grid-column: span 3;

}



.gc6 {
    grid-column: span 6;

}

.gc7 {
    grid-column: span 7;
}

.gc8 {
    grid-column: span 8;

}

.gc9 {
    grid-column: span 9;
}

.gc10 {
    grid-column: span 10;
}

.gc11 {
    grid-column: span 11;

}

.gc12 {
    grid-column: span 12;
}
 */
