/* body {
    box-sizing: border-box;
} */
.row {
    display: grid;
    /* width: calc(100% - 20px); */
    /* margin: 10px; */
    grid-template-columns: repeat(12, 1fr);
    /* grid-gap: 20px; */
}

.gc2 {
    grid-column: span 2;
}

.gc10 {
    grid-column: span 10;
}

/* Welcome Page */
.wPage {
    margin-top: 40px;
    width: 100%;
    height: 400px;
    text-align: center;
    vertical-align: center;
    background-color: #2c013446;
    border: #2c0134 5px dashed;
    border-radius: 30px;
}

.wPage h1 {
    color: #2c0134;
    font-size: 100px;
    font-family: var(--ft3);
}

.wPage2 {
    margin-top: 20px;
    width: 100%;
    height: 100px;
    text-align: center;
    vertical-align: center;
    background-color: #2c013446;
    border: #2c0134 5px dashed;
    border-radius: 30px;
}

.wPage2 h4 {
    color: #43014f;
    font-size: 25px;
    font-family: var(--ft5);
}

.wPage2 h4:hover {
    font-size: 27px;
    color: #692075;
}

/* Dikey Sola Yatık Nav Bar  */
.header3 {
    width: 16.16%;
    background-color: #3019345f;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: auto;
}

.headerMenu3 {
    list-style-type: none;
    padding: 0;
    margin: o;

}

.menuItem3 {
    padding: 10px;
    text-align: center;
}

.menuItem3:hover {
    color: #301934;
    background-color: #3019343e;
    border: 2px dotted #2c0134;
    border-radius: 30px;
}

.menuItem3 a {
    text-decoration: none;
    color: #2c0134;
    display: block;

    padding: 10px;

}

.menuItem3 a:hover {
    color: #301934;
}


/*1.  Grid Layout */
.wPage1 {
    margin-top: 40px;
    width: 100%;
    height: 600px;
    text-align: center;
    vertical-align: center;
    background-color: #2c013446;
    border: #2c0134 5px dashed;
    border-radius: 30px;
}

.wPage1 h2 {
    font-size: 40px;
    color: #2c0134;
}

.wPage1 h2:hover {
    font-size: 43px;

    background-color: #3019345f;
    border-radius: 30px;
    color: #620b71;
}

.wPage1 p {
    margin-left: 60px;
    width: 90%;
    font-size: var(--fs3);
    color: #1d0122;
}

/* pre {
    background: #2c021b;
    border: 1px solid #2f0101;
    border-left: 7px solid #dbeb28;
    border-top-right-radius: 100px;
    text-align: left;
    color: #8de9e3;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 10px;
    max-width: 80%;
    overflow-x: none;
    overflow-y: none;
    padding: 10px 10px;
    display: block;
    word-wrap: break-word;
}

code {
    left: 10px;
} */

textarea {
    width: 60%;
    height: 30%;
    font-size: 19px;
    text-align: left;
    vertical-align: center;
    color: #1d0122;
    background-color: #2c013463;
    border: #2c0134 5px dashed;
    border-radius: 18px;
}

.container {
    background-color: #2c013446;
    border-radius: 10px;
    border: 5px dashed #1d0122;
}

.row {
    display: grid;
    width: calc(100% - 20px);
    margin: 10px;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;

}

.gcBox {
    background-color: #2c013463;
    width: 100%;
    border: 2px solid #301934;
    border-radius: 20px;
    text-align: center;
}

p {
    width: 100%;
    color: #1d0122;
    font-size: 20px;
    padding: 2px;
}

.gc1 {
    grid-column: span 1;
}

.gc2 {
    grid-column: span 2;

}

.gc4 {
    grid-column: span 4;

}

.gc5 {
    grid-column: span 5;

}


/* 2. Color Palette */

.wPage3 {
    margin-top: 40px;
    width: 100%;
    height: 1550px;
    text-align: center;
    vertical-align: center;
    background-color: #2c013446;
    border: #2c0134 5px dashed;
    border-radius: 30px;
}

.wPage3 h2 {
    font-size: 40px;
    color: #2c0134;
}

.wPage3 h2:hover {
    font-size: 43px;

    background-color: #3019345f;
    border-radius: 30px;
    color: #620b71;
}

.wPage3 p {
    padding: 20px;
    margin-left: 60px;
    width: 90%;
    font-size: var(--fs3);
    color: #1d0122;
}

.colors {
    background-color: bisque;
    width: 98%;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    border: 2px dashed #64360f;
}

.colors1 {
    display: flex;
    gap: 90px;
    align-items: center;
    width: 90%;
    height: 20%;
    margin-left: 50px;
    padding-top: 30px;

}

.colors2 {
    display: flex;
    gap: 90px;
    align-items: center;
    width: 90%;
    height: 20%;
    margin-left: 50px;
    padding-top: 30px;
}

/* Red */
.bgRed {
    background-color: #420c09;
    width: 100%;
    height: 150px;
    border-radius: 50%;
    transition: background-color 1s;
    border: 1px solid #420c09;
    text-align: center;

    display: flex;
    flex-direction: column;
    /* 
    min-width: 150px;
    min-height: 150px;
    max-width: 150px;
    max-height: 150px; */
}

.bgRed:hover {
    background-color: #d802026b;
}

.txtRed {
    color: #d80202 !important;
    padding: 25px;
    font-size: 20px;
}

.btnRed {
    background-color: #d99f9f;
    color: #420c09 !important;
    border: 1px solid #420c09;
    box-shadow: 2px 2px 2px #420c09;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 1s;

}

.btnRed:hover {
    background-color: #b03a3a !important;

}


/* Blue */
.bgBlue {
    background-color: #00004d;
    width: 100%;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #00004d;
    text-align: center;
    transition: background-color 1s;
}

.bgBlue:hover {
    background-color: #87cfebd6;
}

.txtBlue {
    color: #48c9fc !important;
    padding: 25px;
    font-size: 20px;
}

.btnBlue {
    background-color: #26619c;
    color: #00004d !important;
    border: 1px solid #00004d;
    box-shadow: 2px 2px 2px #00004d;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 1s;

}

.btnBlue:hover {
    background-color: #1f80aa9b !important;

}

/* Green */
.bgGreen {
    background-color: #14452F;
    width: 100%;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #14452F;
    text-align: center;
    transition: background-color 1s;
}

.bgGreen:hover {
    background-color: #6fe2a3;

}

.txtGreen {
    color: #83a381;
    padding: 25px;
    font-size: 20px;
}

.btnGreen {
    background-color: #3DAC78;
    color: #14452F !important;
    border: 1px solid #14452F;
    box-shadow: 2px 2px 2px #14452F;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 1s;
}

.btnGreen:hover {
    background-color: #64e9ab;
    color: #14452F;
}

/* Yellow */
.bgYellow {
    background-color: #FAF331;
    width: 100%;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #7a7602;
    text-align: center;
    transition: background-color 1s;
}

.bgYellow:hover {
    background-color: #a39e09;
}

.txtYellow {
    color: #d3d00a;
    padding: 25px;
    font-size: 20px;
}

.btnYellow {
    background-color: #f9e324;
    color: #a39e09 !important;
    border: 1px solid #a39e09;
    box-shadow: 2px 2px 2px #a39e09;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 1s;
}

.btnYellow:hover {
    background-color: #f3efaa !important;

}

/* Purple */
.bgPurple {
    background-color: #baa5dc;
    width: 100%;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #5a026f;
    text-align: center;
    transition: background-color 1s;
}

.bgPurple:hover {
    background-color: #864d91;

}

.txtPurple {
    color: #301934;
    padding: 25px;
    font-size: 20px;
}

.btnPurple {
    background-color: #800080;
    color: #301934 !important;
    border: 1px solid #301934;
    box-shadow: 2px 2px 2px #301934;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 1s;
}

.btnPurple:hover {
    background-color: #c979d7d4;
}

/* Brown */
.bgBrown {
    background-color: #b6ad90;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #673e01;
    text-align: center;
    transition: background-color 1s;
}

.bgBrown:hover {
    background-color: #b98354;

}

.txtBrown {
    color: #7F4F24;
    padding: 25px;
    font-size: 20px;
}

.btnBrown {
    background-color: #936639;
    color: #64360f !important;
    border: 1px solid #64360f;
    box-shadow: 2px 2px 2px #64360f;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 1s;
}

.btnBrown:hover {
    background-color: #a88363;
}

/* Gray */
.bgGray {
    background-color: #d7d7d7;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #4f4f4f;
    text-align: center;
    transition: background-color 1s;
}

.bgGray:hover {
    background-color: #8f8f8f;
}

.txtGray {
    color: #5a5a5a;
    padding: 25px;
    font-size: 20px;
}

.btnGray {
    background-color: #939393;
    color: #5a5a5a !important;
    border: 1px solid #5a5a5a;
    box-shadow: 2px 2px 2px #5a5a5a;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 1s;

}

.btnGray:hover {
    background-color: #b6b6b6 !important;

}

/* Orange */
.bgOrange {
    background-color: #F7BE6D;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #e38500;
    text-align: center;
    transition: background-color 1s;
}

.bgOrange:hover {
    background-color: #f6d7ac;

}

.txtOrange {
    color: #F05E16;
    padding: 25px;
    font-size: 20px;
}

.btnOrange {
    background-color: #FA9C1B;
    color: #F05E16 !important;
    border: 1px solid #F05E16;
    box-shadow: 2px 2px 2px #F05E16;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 1s;
}

.btnOrange:hover {
    background-color: #f9b960;
}

/* Pink */
.bgPink {
    background-color: #e5699f;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #c30155;
    text-align: center;
    transition: background-color 1s;
}

.bgPink:hover {
    background-color: #f19bdc;
}

.txtPink {
    color: #980142;
    padding: 25px;
    font-size: 20px;
}

.btnPink {
    background-color: #f791e4;
    color: #980142 !important;
    border: 1px solid #980142;
    box-shadow: 2px 2px 2px #980142;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 1s;

}

.btnPink:hover {
    background-color: #e7478cd1;
}

/* White */
.bgWhite {
    background-color: #FFFFF0;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid rgb(125, 125, 125);
    text-align: center;
    transition: background-color 1s;
}

.bgWhite:hover {
    background-color: whitesmoke;

}

.txtWhite {
    color: #dec1cc;
    padding: 25px;
    font-size: 20px;
}

.btnWhite {
    background-color: #ffffd3;
    color: #a19b9b !important;
    border: 1px solid #5f5f5f;
    box-shadow: 2px 2px 2px #3d3d3d;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 1s;
}

.btnWhite:hover {
    background-color: #b5b2b2d8;
}

/* 3. Text Size */
.wPage4 {
    margin-top: 40px;
    width: 100%;
    height: 2000px;
    text-align: center;
    vertical-align: center;
    background-color: #2c013446;
    border: #2c0134 5px dashed;
    border-radius: 30px;
}

.wPage4 h2 {
    font-size: 40px;
    color: #2c0134;
}

.wPage4 h2:hover {
    font-size: 43px;

    background-color: #3019345f;
    border-radius: 30px;
    color: #620b71;
}

.wPage4 p {
    margin-left: 60px;
    width: 90%;
    font-size: var(--fs3);
    color: #1d0122;
}

.wPage4 p:hover {
    background-color: #1d01225c;
    border-radius: 50%;
    color: #1d0122;
}

.ttfs {
    width: 60%;
    height: 20%;
    font-size: 19px;
    text-align: left;
    vertical-align: center;
    color: #1d0122;
    background-color: #2c013463;
    border: #2c0134 5px dashed;
    border-radius: 18px;
}



/* Headers */
/* Default h taglerinden farklı olması adına headers'ın kısatlması çeklinde
hs kısaltması kullanıldı. Font-size büyüklük değer sıralaması h tagleri ile aynı yönlüdür.*/

.hs1 p {
    font-size: var(--hs1);
}

.hs2 p {
    font-size: var(--hs2);
}

.hs3 p {
    font-size: var(--hs3);
}

.hs4 p {
    font-size: var(--hs4);
}

.hs5 p {
    font-size: var(--hs5);
}

/* Texts */
/* fs = Font-size kısaltması */
.fs1 p {
    font-size: var(--fs1);
}

.fs2 p {
    font-size: var(--fs2);
}

.fs3 p {
    font-size: var(--fs3);
}

.fs4 p {
    font-size: var(--fs4);
}

.fs5 p {
    font-size: var(--fs5);
}

.fs6 p {
    font-size: var(--fs6);
}

.fs7 p {
    font-size: var(--fs7);
}

.fs8 p {
    font-size: var(--fs8);
}

.fs9 p {
    font-size: var(--fs9);
}

.fs10 p {
    font-size: var(--fs10);
}


/* 3. FONT-STILL */
.wPage5 {
    margin-top: 40px;
    width: 100%;
    height: 800px;
    text-align: center;
    vertical-align: center;
    background-color: #2c013446;
    border: #2c0134 5px dashed;
    border-radius: 30px;
}

.wPage5 h2 {
    font-size: 40px;
    color: #2c0134;
}

.wPage5 h2:hover {
    font-size: 43px;

    background-color: #3019345f;
    border-radius: 30px;
    color: #620b71;
}

.wPage5 p {
    margin-left: 60px;
    width: 90%;
    font-size: var(--fs3);
    color: #1d0122;
}

.wPage5 p:hover {
    background-color: #1d01225c;
    border-radius: 50%;
    color: #1d0122;
}

.ttfs1 {
    width: 60%;
    height: 30%;
    font-size: 19px;
    text-align: left;
    vertical-align: center;
    color: #1d0122;
    background-color: #2c013463;
    border: #2c0134 5px dashed;
    border-radius: 18px;
}


/* ft = font-still kısaltması 
Kaynakça: https://www.w3schools.com/cssref/css_websafe_fonts.php*/
.ft1 {
    font-family: var(--ft1);
}

.ft2 {
    font-family: Arial, Helvetica, sans-serif;
}

.ft3 {
    font-family: Arial, Verdana, Tahoma;
}

.ft4 {
    font-family: Georgia, Verdana, Garamond, serif;
}

.ft5 {
    font-family: Arial, Tahoma, Trebuchet (sans-serif);
}


/* MARGIN AND PADDING */
.wPage6 {
    margin-top: 40px;
    width: 100%;
    height: 800px;
    text-align: center;
    vertical-align: center;
    background-color: #2c013446;
    border: #2c0134 5px dashed;
    border-radius: 30px;
}

.wPage6 h2 {
    font-size: 40px;
    color: #2c0134;
}

.wPage6 h2:hover {
    font-size: 43px;

    background-color: #3019345f;
    border-radius: 30px;
    color: #620b71;
}

.wPage6 p {
    margin-left: 60px;
    width: 90%;
    font-size: var(--fs3);
    color: #1d0122;
}

.wPage6 p:hover {
    background-color: #1d01225c;
    border-radius: 50%;
    color: #1d0122;
}

.ttfs1 {
    width: 60%;
    height: 30%;
    font-size: 19px;
    text-align: left;
    vertical-align: center;
    color: #1d0122;
    background-color: #2c013463;
    border: #2c0134 5px dashed;
    border-radius: 18px;
}

/* Margin Zero */
/* .somut {
    position: relative;
    margin: 0px;
    background-color: #1d01225c;
    width: 50%;
    height: 10%;
    border-top-right-radius: 70px;
    float: left;
}

.somut p{
    margin-left: 20px;
 background-color: #01343119;
    position: absolute;
    text-align: center;
    vertical-align: center;
} */

.m0 {
    margin: var(--mp0);
}

/* Margin Bottom */
.somut1 {
    position: relative;
    margin: 0px;
    background-color: #1d01225c;
    width: 50%;
    height: 10%;
    border-top-left-radius: 70px;
    float: left;
}

.somut1 p {
    margin-left: 20px;
    background-color: #01343119;
    position: absolute;
    text-align: center;
    vertical-align: center;
}

.mb1 {
    margin-bottom: var(--mp5);
}

/* Margin Top */

.mt1 {
    margin-top: var(--mp1);
}

/* Margin Left */

.ms1 {
    margin-left: var(--mp1);
}

/* Margin Right */

.me1 {
    margin-right: var(--mp1);
}



/* 6. Slider */
.wPage7 {
    margin-top: 40px;
    width: 100%;
    height: 2670px;
    text-align: center;
    vertical-align: center;
    background-color: #2c013446;
    border: #2c0134 5px dashed;
    border-radius: 30px;
}

.wPage7 h2 {
    font-size: 40px;
    color: #2c0134;
}

.wPage7 h2:hover {
    font-size: 43px;

    background-color: #3019345f;
    border-radius: 30px;
    color: #620b71;
}

.wPage7 p {
    padding: 10px;
    margin-left: 60px;
    width: 90%;
    font-size: var(--fs3);
    color: #1d0122;
}

.wPage7 p:hover {
    background-color: #1d01225c;
    border-radius: 15px;
    color: #1d0122;
}

.ttfs1 {
    width: 60%;
    height: 20%;
    font-size: 19px;
    text-align: left;
    vertical-align: center;
    color: #1d0122;
    background-color: #2c013463;
    border: #2c0134 5px dashed;
    border-radius: 18px;
}

/*Slider 1. Çeşidi   */

.sliderContent {
    border-radius: 30px;
    position: relative;
    width: 1180px;
    height: 710px;
    overflow: hidden;
    margin: auto;
    border: #301934 3px solid;
    background-color: #30193452;
}

.slider1 {
    display: flex;
    height: 100%;
    animation: slide 10s linear infinite;

}

.img1 {
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes slide {
    0% {
        transform: translateX(100%);
    }

    5% {
        transform: translateX(0);
    }

    10% {
        transform: translateX(0);
    }

    15% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-100%);
    }

    25% {
        transform: translateX(-100%);
    }

    40% {
        transform: translateX(-100%);
    }

    45% {
        transform: translateX(-200%);
    }

    65% {
        transform: translateX(-200%);
    }

    75% {
        transform: translateX(-200%);
    }

    /* 80% {
        transform: translateX(-330%);
    }

    90% {
        transform: translateX(-330%);
    } */

    100% {
        transform: translateX(100%);
    }
}

/*Slider 2. Çeşidi   */

.sliderContent2 {
    border-radius: 30px;

    /* padding-top: 30%; */
    position: relative;
    width: 400px;
    height: 500px;
    overflow: hidden;
    margin: auto;
    margin-top: 10%;
    border: 3px solid #00004d;
}

.slider2 {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 100%;
    animation: slide2 10s linear infinite;

}

.img2 {
    width: 100%;
    height: 100%;
    flex: 1;
    justify-content: center;
    align-items: center;
}

@keyframes slide2 {
    0% {
        transform: translateY(100%);
    }

    5% {
        transform: translateY(0);
    }

    10% {
        transform: translateY(0);
    }

    15% {
        transform: translateY(0);
    }

    20% {
        transform: translateY(-125%);

    }

    25% {
        transform: translateY(-125%);
    }

    40% {
        transform: translateY(-125%);
    }

    45% {
        transform: translateY(-240%);
    }

    65% {
        transform: translateY(-240%);
    }

    75% {
        transform: translateY(-200%);
    }

    /*     
        80% {
            transform: translateY(-330%);
        }
    
        90% {
            transform: translateY(-330%);
        } */

    100% {
        transform: translateY(100%);
    }
}


/* Slider 3. Çeşidi   */
/* .sliderContent3 {
    padding-top: 120px;
    position: relative;
    width: 500px;
    height: 500px;
    overflow: hidden;
    margin: auto;
    margin-top: 15%;
    justify-content: center;
    align-items: center;
}

.slider3 {
    display: flex;
    height: 100%;
    animation: slide 10s linear infinite;

}

.img3 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes slide {
    0% {
        transform: translateX(100%);
    }

    5% {
        transform: translateX(0);
    }

    10% {
        transform: translateX(0);
    }



    15% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-100%);

    }

    25% {
        transform: translateX(-100%);
    }

    40% {
        transform: translateX(-100%);
    }

    45% {
        transform: translateX(-200%);
    }

    65% {
        transform: translateX(-200%);
    }

    75% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(100%);
    }
} */

.sliderContent3 {
    padding-top: 60px;
    position: relative;
    max-width: 900px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.arrow {

    vertical-align: middle;
}

.slider3 {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 200px;
    overflow-x: auto;
    padding: 24px;
    gap: 24px;

}

.img3 {
    border-radius: 20%;
    overflow: hidden;
    border: #00004d 2px solid;
}

.img3 img {
    width: 100%;
    height: 195px;
    object-fit: cover;
}

/* 7. Tables */
.wPage8 {
    margin-top: 40px;
    width: 100%;
    height: 900px;
    text-align: center;
    align-items: center;
    justify-content: center;
    vertical-align: center;
    background-color: #2c013446;
    border: #2c0134 5px dashed;
    border-radius: 30px;
}

.wPage8 h2 {
    font-size: 40px;
    color: #2c0134;
}

.wPage8 h2:hover {
    font-size: 43px;

    background-color: #3019345f;
    border-radius: 30px;
    color: #620b71;
}

.wPage8 p {
    margin-left: 60px;
    width: 90%;
    font-size: var(--fs3);
    color: #1d0122;
}

.wPage8 p:hover {
    background-color: #1d01225c;
    border-radius: 50%;
    color: #1d0122;
}

.ttfs8 {
    width: 60%;
    height: 20%;
    font-size: 19px;
    text-align: left;
    vertical-align: center;
    color: #1d0122;
    background-color: #2c013463;
    border: #2c0134 5px dashed;
    border-radius: 18px;
}

/* Responsive Table  */
.responsiveTable {
    margin: 20px;
    width: 100%;
    overflow-x: auto;
    padding: 20px;
    border-radius: 50px;
    margin-bottom: 20px;
    border: 1px solid #3019344f;

}

/* Bordered Table */
.borderedTable {
    border: 1px solid #3019344f;
    padding: 20px;
    border-radius: 50px;
    margin-bottom: 20px;
    margin-left: 20px;
    float: left;

}

.borderedTable th,
.borderedTable td {
    border: 2px solid #3019344f;
    padding: 10px;
}

/* Striped Table */
.stripedTable {
    margin-left: 20px;
    padding: 20px;
}

.stripedTable tbody tr:nth-child(even) {
    background-color: #3019344f;
}

/* Hoverable Table */
.hoverableTable {
    padding: 20px;
}

.hoverableTable tbody tr:hover {
    background-color: #3019344f;
}



/* 8. Images */
.wPage9 {
    margin-top: 40px;
    width: 100%;
    height: 1180px;
    text-align: center;
    align-items: center;
    justify-content: center;
    vertical-align: center;
    background-color: #2c013446;
    border: #2c0134 5px dashed;
    border-radius: 30px;
}

.wPage9 h2 {
    font-size: 40px;
    color: #2c0134;
}

.wPage9 h2:hover {
    font-size: 43px;

    background-color: #3019345f;
    border-radius: 30px;
    color: #620b71;
}

.wPage9 p {
    margin-left: 60px;
    width: 90%;
    font-size: var(--fs3);
    color: #1d0122;
}

.wPage9 p:hover {
    background-color: #1d01225c;
    border-radius: 50%;
    color: #1d0122;
}

.ttfs9 {
    width: 60%;
    height: 10%;
    font-size: 19px;
    text-align: left;
    vertical-align: center;
    color: #1d0122;
    background-color: #2c013463;
    border: #2c0134 5px dashed;
    border-radius: 18px;
}

/* Border image classı */
.image1 {
    width: 20%;
    height: 50%;
    border-radius: 20%;
}

/* Daire formatında image için */
.image2 {
    width: 20%;
    height: 500px;
    border-radius: 50%;
    display: inline;
}

/* Normal image classı */
.image3 {
    width: 20%;
    height: 750px;
}

/* Çerçeveli image için */
.image4 {
    width: 20%;
    height: 750px;
    border: 4px solid #00004d;
}

/* 9. Buttons */
.wPage10 {
    margin-top: 40px;
    width: 100%;
    height: 600px;
    text-align: center;
    align-items: center;
    justify-content: center;
    vertical-align: center;
    background-color: #2c013446;
    border: #2c0134 5px dashed;
    border-radius: 30px;
}

.wPage10 h2 {
    font-size: 40px;
    color: #2c0134;
}

.wPage10 h2:hover {
    font-size: 43px;

    background-color: #3019345f;
    border-radius: 30px;
    color: #620b71;
}

.wPage10 p {
    margin-left: 60px;
    width: 90%;
    font-size: var(--fs3);
    color: #1d0122;
}

.wPage10 p:hover {
    background-color: #1d01225c;
    border-radius: 50%;
    color: #1d0122;
}

.ttfs10 {
    margin-top: 30px;
    width: 60%;
    height: 30%;
    font-size: 19px;
    text-align: left;
    vertical-align: center;
    color: #1d0122;
    background-color: #2c013463;
    border: #2c0134 5px dashed;
    border-radius: 18px;
}

/* Normal Button */
.nBtn {
    background-color: #ffffff;
    color: #000000 !important;
    border: 1px solid #000000;
    box-shadow: 2px 2px 2px #000000;
    padding: 5px;
    margin: 5px;

}

/* Outline Button */
.oBtn {
    margin: 5px;
    background-color: #0b560046;
    color: #000000 !important;
    border: 1px solid #0c5600;
    box-shadow: 2px 2px 2px #000000;
    padding: 5px;
    transition: background-color 1s;
}

.oBtn:hover {
    background-color: #0c5600;
}

/* Button Color Claas */

.btnColors {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

/* Red */
.txtRed {
    color: #d80202 !important;
    font-size: 20px;
    /* justify-content: center; */
    text-align: center;
    vertical-align: center;
}

.nRed {
    background-color: #d99f9f;
    color: #420c09 !important;
    border: 1px solid #420c09;
    box-shadow: 2px 2px 2px #420c09;
    padding: 10px;
    margin: 5px;
    transition: background-color 1s;
}

.nRed:hover {
    background-color: #b03a3a !important;
}

/* Blue */
.txtBlue {
    color: #48c9fc !important;
    padding: 25px;
    font-size: 20px;
}

.nBlue {
    background-color: #26619c;
    color: #00004d !important;
    border: 1px solid #00004d;
    box-shadow: 2px 2px 2px #00004d;
    padding: 10px;
    transition: background-color 1s;
    margin: 5px;
}

.nBlue:hover {
    background-color: #1f80aa9b !important;
}

/* Green */

.txtGreen {
    color: #83a381;
    padding: 25px;
    font-size: 20px;
}

.nGreen {
    background-color: #3DAC78;
    color: #14452F !important;
    border: 1px solid #14452F;
    box-shadow: 2px 2px 2px #14452F;
    padding: 10px;
    transition: background-color 1s;
    margin: 5px;
}

.nGreen:hover {
    background-color: #64e9ab;
    color: #14452F;
}


/* Yellow */

.txtYellow {
    color: #d3d00a;
    padding: 25px;
    font-size: 20px;
}

.nYellow {
    background-color: #f9e324;
    color: #a39e09 !important;
    border: 1px solid #a39e09;
    box-shadow: 2px 2px 2px #a39e09;
    padding: 10px;
    transition: background-color 1s;
    margin: 5px;
}

.nYellow:hover {
    background-color: #f3efaa !important;

}

/* Purple */

.txtPurple {
    color: #301934;
    padding: 25px;
    font-size: 20px;
}

.nPurple {
    background-color: #800080;
    color: #301934 !important;
    border: 1px solid #301934;
    box-shadow: 2px 2px 2px #301934;
    padding: 10px;
    transition: background-color 1s;
    margin: 5px;
}

.nPurple:hover {
    background-color: #c979d7d4;
}

/* Brown */
.txtBrown {
    color: #7F4F24;
    padding: 25px;
    font-size: 20px;
}

.nBrown {
    background-color: #936639;
    color: #64360f !important;
    border: 1px solid #64360f;
    box-shadow: 2px 2px 2px #64360f;
    padding: 10px;
    transition: background-color 1s;
    margin: 5px;
}

.nBrown:hover {
    background-color: #a88363;
}

/* Gray */

.txtGray {
    color: #5a5a5a;
    padding: 25px;
    font-size: 20px;
}

.nGray {
    background-color: #939393;
    color: #5a5a5a !important;
    border: 1px solid #5a5a5a;
    box-shadow: 2px 2px 2px #5a5a5a;
    padding: 10px;
    transition: background-color 1s;
    margin: 5px;

}

.nGray:hover {
    background-color: #b6b6b6 !important;

}

/* Orange */


.txtOrange {
    color: #F05E16;
    padding: 25px;
    font-size: 20px;
}

.nOrange {
    background-color: #FA9C1B;
    color: #F05E16 !important;
    border: 1px solid #F05E16;
    box-shadow: 2px 2px 2px #F05E16;
    padding: 10px;
    transition: background-color 1s;
    margin: 5px;

}

.nOrange:hover {
    background-color: #f9b960;
}

/* Pink */

.txtPink {
    color: #980142;
    padding: 25px;
    font-size: 20px;
}

.nPink {
    background-color: #f791e4;
    color: #980142 !important;
    border: 1px solid #980142;
    box-shadow: 2px 2px 2px #980142;
    padding: 10px;
    transition: background-color 1s;
    margin: 5px;

}

.nPink:hover {
    background-color: #e7478cd1;
}

/* White */

.txtWhite {
    color: #dec1cc;
    padding: 25px;
    font-size: 20px;
}

.nWhite {
    background-color: #ffffd3;
    color: #a19b9b !important;
    border: 1px solid #5f5f5f;
    box-shadow: 2px 2px 2px #3d3d3d;
    padding: 10px;
    transition: background-color 1s;
    margin: 5px;

}

.nWhite:hover {
    background-color: #b5b2b2d8;
}

/* 10. Images - Overflow */
.wPage11 {
    float: left;
    margin-top: 40px;
    width: 100%;
    height: 2800px;
    text-align: center;
    align-items: center;
    justify-content: center;
    vertical-align: center;
    background-color: #2c013446;
    border: #2c0134 5px dashed;
    border-radius: 30px;
}

.wPage11 h2 {
    font-size: 40px;
    color: #2c0134;
}

.wPage11 h2:hover {
    font-size: 43px;

    background-color: #3019345f;
    border-radius: 30px;
    color: #620b71;
}

.wPage11 p {
    margin-left: 60px;
    width: 90%;
    font-size: var(--fs3);
    color: #1d0122;
}

.wPage11 p:hover {
    background-color: #1d01225c;
    border-radius: 50%;
    color: #1d0122;
}

.ttfs11 {
    margin-top: 30px;
    width: 60%;
    height: 50px;
    font-size: 19px;
    text-align: left;
    vertical-align: center;
    color: #1d0122;
    background-color: #2c013463;
    border: #2c0134 5px dashed;
    border-radius: 18px;
}

.oflow1 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 500px;
    width: 100%; */
    margin: 20px;
}

.oflow1 img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

/* Yalnızca yüksekliğinin ortalanması */
.oflow2 {
    height: 300px;
    margin: 20px;
    overflow-x: none;
    overflow-y: scroll;
    width: 30%;
}

.oflow2 img {
    width: 100%;
}

/* yalnızca genişliğinin ortalanması */
.oflow3 {
    height: auto;
    width: 200px;
    margin: 50px;
    text-align: center;
    overflow-x: scroll;
    overflow-y: none;
}


.oflow3 img {
    height: auto;
}

/* overflow hidden */

.oflow4 {
    height: 180px;
    width: 180px;
    overflow: hidden;
}






/* 11. Nav Menü */
.wPage12 {
    float: left;
    margin-top: 40px;
    width: 100%;
    height: 400px;
    text-align: center;
    align-items: center;
    justify-content: center;
    vertical-align: center;
    background-color: #2c013446;
    border: #2c0134 5px dashed;
    border-radius: 30px;
}

.wPage12 h2 {
    font-size: 40px;
    color: #2c0134;
}

.wPage12 h2:hover {
    font-size: 43px;

    background-color: #3019345f;
    border-radius: 30px;
    color: #620b71;
}

.wPage12 p {
    margin-left: 60px;
    width: 90%;
    font-size: var(--fs3);
    color: #1d0122;
}

.wPage12 p:hover {
    background-color: #1d01225c;
    border-radius: 50%;
    color: #1d0122;
}

.ttfs12 {
    margin-top: 30px;
    width: 60%;
    height: 20%;
    font-size: 19px;
    text-align: left;
    vertical-align: center;
    color: #1d0122;
    background-color: #2c013463;
    border: #2c0134 5px dashed;
    border-radius: 18px;
}


/* Yatay Nav Bar */
.header1 {
    width: 100%;
    float: left;

    /* padding-right: 25px;
    padding-left: 25px; */
    text-align: center;
}

/* .headerMenu1 {
    margin-right: 250px;
    margin-left: 250px;

} */

.menuItem1 {
    align-items: center;
    display: inline;
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px 10px;
    border: 2px;
    background-color: #30193449;
    border-radius: 20px;
    box-shadow: 2px 2px 3px #301934;
    transition: background-color 950ms;
}

.menuItem1:hover {
    color: #301934;
    background-color: #ba81c4c6;
}

.menuItem1 a {
    text-decoration: none;
}

.menuItem1 a:hover {
    color: #301934;
}


/* Block Nav Bar */
.header2 {
    width: 150px;
    background-color: #3019345f;
    top: 0;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.headerMenu2 {
    list-style-type: none;
}

.menuItem2 {
    padding: 10px;
    text-align: center;
}

.menuItem2:hover {
    color: #301934;
    background-color: #3019343e;
}

.menuItem2 a {
    text-decoration: none;
}

.menuItem2 a:hover {
    color: #301934;
}

/* Dikey Sola Yatık Nav Bar  */
.header3 {
    width: 150px;
    background-color: #3019345f;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: auto;
}

.headerMenu3 {
    list-style-type: none;
    padding: 0;
    margin: o;

}

.menuItem3 {
    padding: 10px;
    text-align: center;
}

.menuItem3:hover {
    color: #301934;
    background-color: #3019343e;
}

.menuItem3 a {
    text-decoration: none;
    display: block;

}






/* 12. Dropdown Menu */
.wPage12 {
    margin-top: 40px;
    width: 100%;
    height: 1180px;
    text-align: center;
    align-items: center;
    justify-content: center;
    vertical-align: center;
    background-color: #2c013446;
    border: #2c0134 5px dashed;
    border-radius: 30px;
}

.wPage13 h2 {
    font-size: 40px;
    color: #2c0134;
}

.wPage13 h2:hover {
    font-size: 43px;

    background-color: #3019345f;
    border-radius: 30px;
    color: #620b71;
}

.wPage13 p {
    margin-left: 60px;
    width: 90%;
    font-size: var(--fs3);
    color: #1d0122;
}

.wPage13 p:hover {
    background-color: #1d01225c;
    border-radius: 50%;
    color: #1d0122;
}

.ttfs13 {
    width: 60%;
    height: 10%;
    font-size: 19px;
    text-align: left;
    vertical-align: center;
    color: #1d0122;
    background-color: #2c013463;
    border: #2c0134 5px dashed;
    border-radius: 18px;
}

.dropdown {
    background-color: #3019342f;
}

.dropMenu {
    justify-content: center;
    text-align: center;
    list-style: none;
}

.dropMenu a {
    text-decoration: none;
    display: block;
}

.dropMenu .ddBtn {
    position: relative;
    display: inline-block;

}

.dropMenu li:hover ul {
    display: block;
    list-style: none;
}

.dropMenu .ddBtn a {
    background-color: #3d14456c;
    padding: 10px 15px;
}

.dropMenu .ddBtn ul {
    position: absolute;
    display: none;
    top: 100%;
    /* left: 10px; */
    width: 100px;
    /* border: 1px solid #0c5600; */
    /* background-color: #45142d56; */
}

ul .ddBtn a {
    color: #301934;
    padding: 10px 20px;

}

.dropMenu li ul li:hover a {
    background-color: #3019345c;
    border-radius: 4px;
}

/* 13. Form */
.wPg {
    /* margin-top: 40px; */
    width: 100%;
    height: 600px;
    text-align: center;
    align-items: center;
    justify-content: center;
    vertical-align: center;
    background-color: #2c013446;
    border: #2c0134 5px dashed;
    border-radius: 30px;
}

.wPg h2 {
    font-size: 40px;
    color: #2c0134;
}

.wPg h2:hover {
    font-size: 43px;

    background-color: #3019345f;
    border-radius: 30px;
    color: #620b71;
}

.wPg p {
    margin-left: 60px;
    width: 90%;
    font-size: var(--fs3);
    color: #1d0122;
}

.wPg p:hover {
    background-color: #1d01225c;
    border-radius: 50%;
    color: #1d0122;
}

.ttfs4 {
    margin-top: 30px;
    width: 60%;
    height: 30%;
    font-size: 19px;
    text-align: left;
    vertical-align: center;
    color: #1d0122;
    background-color: #2c013463;
    border: #2c0134 5px dashed;
    border-radius: 18px;
}




input {
    background-color: rgba(128, 128, 128, 0.05)
}

input[type=text] {
    width: 50%;
    padding: 20px;
    margin-top: var(--mp1);
    box-sizing: border-box;
    border: 3px solid rgb(73, 1, 1);
    border-radius: 8px;
    padding: 10px;
    /* text-align: center;  çalıştıramadım */
}

input[type=text1] {
    width: 10%;
    padding: 20px;
    margin-top: 20px;
    box-sizing: border-box;
    border: 2px solid #301934;
    background-color: #30193477;
    border-radius: 8px;
    padding: 5px;
    transition: background-color 1s;
}

input[type=text1]:hover {
    background-color: #301934a7;
}


input[type=button],
input[type=submit],
input[type=reset] {
    background-color: #30193477;
    border: 2px solid #301934;
    color: #39025c;
    padding: 16px 32px;
    border-radius: 8px;
    padding: 5px;
    cursor: pointer;
}


/* 14. Responsive */



:root {

    /* 2. COLORS  */
    /* Renk tonları 1 de en kalın ve daha büyük rakamlarda daha açık  */
    /* Red */
    --color-tone1-red: #420c09;
    --color-tone2-red: #d802026b;
    --color-tone3-red: #d80202;
    --color-tone4-red: #b03a3a;
    --color-tone5-red: #d99f9f;

    /* Blue */
    --color-tone1-blue: #00004d;
    --color-tone2-blue: #1f80aa9b;
    --color-tone3-blue: #26619c;
    --color-tone4-blue: #48c9fc;
    --color-tone5-blue: #87cfebd6;

    /* Green */
    --color-tone1-green: #14452F;
    --color-tone2-green: #3DAC78;
    --color-tone3-green: #83a381;
    --color-tone4-green: #6fe2a3;
    --color-tone5-green: #64e9ab;

    /* Yellow */
    --color-tone1-yellow: #7a7602;
    --color-tone2-yellow: #a39e09;
    --color-tone3-yellow: #f9e324;
    --color-tone4-yellow: #FAF331;
    --color-tone5-yellow: #f3efaa;

    /* Purple */
    --color-tone1-purple: #301934;
    --color-tone2-purple: #5a026f;
    --color-tone3-purple: #800080;
    --color-tone4-purple: #c979d7d4;
    --color-tone5-purple: #baa5dc;

    /* Brown */
    --color-tone1-brown: #673e01;
    --color-tone2-brown: #7F4F24;
    --color-tone3-brown: #936639;
    --color-tone4-brown: #a88363;
    --color-tone5-brown: #b6ad90;

    /* Gray */
    --color-tone1-gray: #343434;
    --color-tone2-gray: #5a5a5a;
    --color-tone3-gray: #939393;
    --color-tone4-gray: #b6b6b6;
    --color-tone5-gray: #d7d7d7;

    /* Orange */
    --color-tone1-orange: #F05E16;
    --color-tone2-orange: #FA9C1B;
    --color-tone3-orange: #e38500;
    --color-tone4-orange: #F7BE6D;
    --color-tone5-orange: #f6d7ac;

    /* Pink */
    --color-tone1-pink: #980142;
    --color-tone2-pink: #c30155;
    --color-tone3-pink: #e7478cd1;
    --color-tone4-pink: #e5699f;
    --color-tone5-pink: #f19bdc;

    /* White */
    --color-tone1-white: #3d3d3d;
    --color-tone2-white: #5f5f5f;
    --color-tone3-white: #a19b9b;
    --color-tone4-white: #dec1cc;
    --color-tone5-white: #ffffd3;
    --color-tone6-white: #f5f5f5;

    /* 3. FONT-SIZE */
    /* Headers */
    /* hs = Headers 'ın kısaltması */
    --hs1: 80px;
    --hs2: 70px;
    --hs3: 60px;
    --hs4: 50px;
    --hs5: 40px;

    /* Texts */
    /* fs = Font-size kısaltması */
    --fs1: 26px;
    --fs2: 24px;
    --fs3: 22px;
    --fs4: 20px;
    --fs5: 18px;
    --fs6: 16px;
    --fs7: 14px;
    --fs8: 12px;
    --fs9: 10px;
    --fs10: 8px;

    /* 3. FONT-STILL */
    /* ft = font-still kısaltması */
    --ft1: 'Times New Roman', Times, serif;
    --ft2: Arial, Helvetica, sans-serif;
    --ft3: Arial, Verdana, Tahoma;
    --ft4: Georgia, Verdana, Garamond, serif;
    --ft5: Arial, Tahoma, Trebuchet (sans-serif);

    /* MARGIN AND PADDING */
    --mp0: 0px;
    --mp1: 20px;
    --mp2: 30px;
    --mp3: 40px;
    --mp4: 50px;
    --mp5: 60px;
    --mp6: 70px;

    /* SLIDER */

    /* TABLES */

    /* IMAGES */

    /* BUTTON TYPES */
}


/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */







/* Margin Zero */

.m0 {
    margin: var(--mp0);
}

.m1 {
    margin: var(--mp1);
}

.m2 {
    margin: var(--mp2);
}

.m3 {
    margin: var(--mp3);
}

.m4 {
    margin: var(--mp4);
}

.m5 {
    margin: var(--mp5);
}

/* Margin Bottom */

.mb0 {
    margin-bottom: var(--mp0);
}

.mb1 {
    margin-bottom: var(--mp1);
}

.mb2 {
    margin-bottom: var(--mp2);
}

.mb3 {
    margin-bottom: var(--mp3);
}

.mb4 {
    margin-bottom: var(--mp4);
}

.mb5 {
    margin-bottom: var(--mp5);
}

/* Margin Top */

.mt0 {
    margin-top: var(--mp0);
}

.mt1 {
    margin-top: var(--mp1);
}

.mt2 {
    margin-top: var(--mp2);
}

.mt3 {
    margin-top: var(--mp3);
}

.mt4 {
    margin-top: var(--mp4);
}

.mt5 {
    margin-top: var(--mp5);
}

/* Margin Left */

.ms0 {
    margin-left: var(--mp0);
}

.ms1 {
    margin-left: var(--mp1);
}

.ms2 {
    margin-left: var(--mp2);
}

.ms3 {
    margin-left: var(--mp3);
}

.ms4 {
    margin-left: var(--mp4);
}

.ms5 {
    margin-left: var(--mp5);
}

/* Margin Right */

.me0 {
    margin-right: var(--mp0);
}

.me1 {
    margin-right: var(--mp1);
}

.me2 {
    margin-right: var(--mp2);
}

.me3 {
    margin-right: var(--mp3);
}

.me4 {
    margin-right: var(--mp4);
}

.me5 {
    margin-right: var(--mp5);
}







/* SLIDER */

/* TABLES */

/* IMAGES */

/* 9. BUTTON TYPES */

/* Normal Button */


/* Outline Button */

/* Button Color Claas */

.btnColors {
    display: flex;
    padding: 10px;
}

/* Red */
.txtRed {
    color: #d80202 !important;
    font-size: 20px;
    /* justify-content: center; */
    text-align: center;
    vertical-align: center;
}

.nRed {
    background-color: #d99f9f;
    color: #420c09 !important;
    border: 1px solid #420c09;
    box-shadow: 2px 2px 2px #420c09;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 1s;
    margin: 5px;
}

.nRed:hover {
    background-color: #b03a3a !important;
}

/* Blue */
.txtBlue {
    color: #48c9fc !important;
    padding: 25px;
    font-size: 20px;
}

.nBlue {
    background-color: #26619c;
    color: #00004d !important;
    border: 1px solid #00004d;
    box-shadow: 2px 2px 2px #00004d;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 1s;
    margin: 5px;
}

.nBlue:hover {
    background-color: #1f80aa9b !important;
}

/* Green */

.txtGreen {
    color: #83a381;
    padding: 25px;
    font-size: 20px;
}

.nGreen {
    background-color: #3DAC78;
    color: #14452F !important;
    border: 1px solid #14452F;
    box-shadow: 2px 2px 2px #14452F;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 1s;
    margin: 5px;
}

.nGreen:hover {
    background-color: #64e9ab;
    color: #14452F;
}


/* Yellow */

.txtYellow {
    color: #d3d00a;
    padding: 25px;
    font-size: 20px;
}

.nYellow {
    background-color: #f9e324;
    color: #a39e09 !important;
    border: 1px solid #a39e09;
    box-shadow: 2px 2px 2px #a39e09;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 1s;
    margin: 5px;
}

.nYellow:hover {
    background-color: #f3efaa !important;

}

/* Purple */

.txtPurple {
    color: #301934;
    padding: 25px;
    font-size: 20px;
}

.nPurple {
    background-color: #800080;
    color: #301934 !important;
    border: 1px solid #301934;
    box-shadow: 2px 2px 2px #301934;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 1s;
    margin: 5px;
}

.nPurple:hover {
    background-color: #c979d7d4;
}

/* Brown */
.txtBrown {
    color: #7F4F24;
    padding: 25px;
    font-size: 20px;
}

.nBrown {
    background-color: #936639;
    color: #64360f !important;
    border: 1px solid #64360f;
    box-shadow: 2px 2px 2px #64360f;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 1s;
    margin: 5px;
}

.nBrown:hover {
    background-color: #a88363;
}

/* Gray */

.txtGray {
    color: #5a5a5a;
    padding: 25px;
    font-size: 20px;
}

.nGray {
    background-color: #939393;
    color: #5a5a5a !important;
    border: 1px solid #5a5a5a;
    box-shadow: 2px 2px 2px #5a5a5a;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 1s;
    margin: 5px;

}

.nGray:hover {
    background-color: #b6b6b6 !important;

}

/* Orange */


.txtOrange {
    color: #F05E16;
    padding: 25px;
    font-size: 20px;
}

.nOrange {
    background-color: #FA9C1B;
    color: #F05E16 !important;
    border: 1px solid #F05E16;
    box-shadow: 2px 2px 2px #F05E16;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 1s;
    margin: 5px;

}

.nOrange:hover {
    background-color: #f9b960;
}

/* Pink */

.txtPink {
    color: #980142;
    padding: 25px;
    font-size: 20px;
}

.nPink {
    background-color: #f791e4;
    color: #980142 !important;
    border: 1px solid #980142;
    box-shadow: 2px 2px 2px #980142;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 1s;
    margin: 5px;

}

.nPink:hover {
    background-color: #e7478cd1;
}

/* White */

.txtWhite {
    color: #dec1cc;
    padding: 25px;
    font-size: 20px;
}

.nWhite {
    background-color: #ffffd3;
    color: #a19b9b !important;
    border: 1px solid #5f5f5f;
    box-shadow: 2px 2px 2px #3d3d3d;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 1s;
    margin: 5px;

}

.nWhite:hover {
    background-color: #b5b2b2d8;
}







/*  */